$primary-color: #f8efe6;
$primary-dark: #333;
$secondary-color: #fec5bb;

main {
  width: 80%;

  textarea{
    padding: 1rem;
    font-size: 1rem;
    width: 70%;
  }

  button {
    padding: 1rem;
    background-color: $primary-dark;
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: none;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  .blog-container {
    h2 {
      text-transform: uppercase;
      font-size: 3rem;
      letter-spacing: 5px;
    }
  }

  .all-sections {
    display: grid;
    grid-template-columns: 1fr;

    .text-section {
      padding: 2rem;
      border: 1px solid $primary-dark;
      border-radius: 5px;

      .active-section{
        display: grid;
        grid-template-columns: 1fr;
      }

      small {
        padding: 1rem;
        display: block;
        font-weight: bold;
        font-size: 1rem;
        background-color: $secondary-color;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: 1.5rem;
      }
      margin-bottom: 1rem;
    }

    .image-section {
      small {
        padding: 1rem;
        display: block;
        font-weight: bold;
        font-size: 1rem;
        background-color: $secondary-color;
        margin-bottom: 0.5rem;
      }

      display: grid;
      grid-template-columns: 1fr;
      padding: 2rem;
      border: 1px solid $primary-dark;
      margin-bottom: 1rem;
      border-radius: 5px;

      img {
        font-size: 1.5rem;

        object-fit: cover;
        width: 30rem;
        height: 30rem;
      }

      // For video
      .iframe-container{
        padding-top: 30px;
        position: relative;
        overflow: hidden;
        padding-bottom: 56.25%;
        
        iframe{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .group-section {


      small {
        padding: 1rem;
        display: block;
        font-weight: bold;
        font-size: 1rem;
        background-color: $secondary-color;
        margin-bottom: 0.5rem;
      }

      display: grid;
      grid-template-columns: 1fr;
      padding: 2rem;
      border: 1px solid $primary-dark;
      margin-bottom: 1rem;
      border-radius: 5px;

      .image-group {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;

        .image-item {
          padding: 2rem;
          border: 1px solid $primary-dark;

          img {
            object-fit: cover;
            max-width: 15rem;
            max-height: 15rem;
          }

          i {
            margin-top: 0.5rem;
            cursor: pointer;
            &:hover {
              opacity: 0.9;
            }
          }
        }
      }

      hr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }

      .active-section-media {
        padding: 2rem;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr;

        select {
          padding: 1rem;
          font-size: rem;
        }

        label {
          input {
            padding: 1rem;
            font-size: 1.5rem;
            font-weight: lighter;
          }
        }
      }
    }
  }


  .active-section-media, .active-section, .active-section-group{
    padding: 2rem;
    border: 1px solid $primary-dark;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;

    input{
      padding: 1rem;
      font-size: 1rem;
    }
    
  }
}
