<main>
    <h2>Manage Your Projects here:</h2>
    <div class="division">
        <div class="project-list">

            <ul >
                <li *ngFor="let prj of projectModelList">
                    <a (click)="goToProjectManagment(prj.id)">{{prj.projectName}}</a>
                </li>
            </ul>

        </div>
        <div class="create-project">

            <form [formGroup]="projectCreateForm" (ngSubmit)="createProject()">
                <label for="projectName">Project Heading</label>
                <small><em>Project heading is always required</em></small>
                <input type="text" id="projectName" formControlName="projectName">

                <label for="projectDescrip">What is the project about?</label>
                <textarea type="text" id="projectDescrip" rows="6" formControlName="projectDescrip"></textarea>

                <label for="projectDate">Project Date</label>
                <small><em>If no date is provided then today's date is taken</em></small>
                <input type="date" id="projectDate" formControlName="projectDate">
    
                <button type="submit" [disabled]="!projectCreateForm.valid">Create Project</button>

            </form>

            <div class="prj-description-to-show" [innerHTML]="projectCreateForm.controls['projectDescrip'].value | markdown">

            </div>
            
        </div>
    </div>
</main>