<div class="container">
  <div class="phone-menu">
    <button (click)="TogglePhoneMenu()" class="phone-menu-btn">
      <div *ngIf="hamburger; then barsBlock; else crossBlock"></div>
      <ng-template #crossBlock><i class="fa-solid fa-bars"></i></ng-template>
      <ng-template #barsBlock><i class="fa-solid fa-xmark"></i></ng-template>
    </button>
  </div>



  <div class="phone-side-bar" #phone_side_menu>
    <div class="side-bar-menu">
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>

        <li>
          <a routerLink="about" (click)="switchChild(true)">About</a>
        </li>
        <li>
          <div
            *ngIf="
              galleryActive;
              then phoneGalleryBlock;
              else phoneNonGalleryBlock
            "
          ></div>
          <ng-template #phoneGalleryBlock>
            <h3>Gallery</h3>

            <ul *ngFor="let proj of allPROJECTS.PROJECTS; index as idx">
              <li>
                <a
                  (click)="switchProject(idx,true)"
                  [ngClass]="{ active: idx == curProject }"
                  >{{ proj.projectHeader }}</a
                >
              </li>
            </ul>
          </ng-template>
          <ng-template #phoneNonGalleryBlock>
            <a [routerLink]="['/T/gallery','0']">Gallery</a>
          </ng-template>
        </li>

        <li>
          <a routerLink="/art-education" (click)="switchChild(true)">Art Education</a>
        </li>

        <li>
          <a routerLink="/project-rants" (click)="switchChild(true)">Project/Rants</a>
        </li>

        <li>
          <a routerLink="contact" (click)="switchChild(true)">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="divide-section">
    <div class="side-bar">
      <ul>
        <li>
          <div class="main-header">
            <a routerLink="/home"><img src="assets/Images/tanaya_name.png" alt="" /></a>
            <!-- <a routerLink="/home">Tanaya</a> -->
          </div>
        </li>

        <li>
          <a routerLink="about">About</a>
        </li>
        <li>
          <div
            *ngIf="galleryActive; then galleryBlock; else nonGalleryBlock"
          ></div>
          <ng-template #galleryBlock>
            <h3>Gallery</h3>

            <ul *ngFor="let proj of allPROJECTS.PROJECTS; index as idx">
              <li>
                <a
                  (click)="switchProject(idx)"
                  [routerLink]="['gallery', idx]"
                  [ngClass]="{ active: idx == curProject }"
                  >{{ proj.projectHeader }}</a
                >
              </li>
            </ul>
          </ng-template>
          <ng-template #nonGalleryBlock>
            <a [routerLink]="['/T/gallery','0']">Gallery</a>
          </ng-template>
        </li>

        <li>
          <a routerLink="art-education">Art Education</a>
        </li>

        <li>
          <a routerLink="project-rants">Project/Rants</a>
        </li>

        <li>
          <a routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>

    <!-- here will contain all child components -->
    <div class="main-app-child-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
