<main>
  <div class="divide">
    <div class="image-container">
      <img src="/static/assets/Images/contact.JPG" alt="" />
    </div>

    <div class="container">
      <h2>Get in touch</h2>

      <div class="contact-containers">
        <div class="contact-item">
          <a href="mailto: tanayarr@gmail.com" target="_blank">
            <p>Mail me at:</p>
            <i class="fa-solid fa-envelope"></i>
            <p>tanayarr@gmail.com</p>
          </a>
        </div>

        <div class="contact-item">
          <a
            href="https://www.facebook.com/people/Tanaya-Rao-Raj/100080490422175/"
            target="_blank"
          >
            <p>My Facebook</p>
            <i class="fa-brands fa-facebook-square"></i>
            <p>Tanaya-Rao-Raj</p>
          </a>
        </div>

        <div class="contact-item">
          <a href="https://www.instagram.com/tanayarraj/" target="_blank">
            <p>My Instagram</p>
            <i class="fa-brands fa-instagram-square"></i>
            <p>@tanayarraj</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>
