<div class="container">
  <!-- Image Modal to view enlarged Image. -->
  <div class="opened-img" #imgModal>
    <div class="btn-div">
      <button (click)="closeModalImage()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>

    <div class="img-container">
      <img src="{{ curImgLink }}" alt="" />
      <p>{{ curImgStatus }}</p>
    </div>
  </div>

  <!-- This div wil contain all the gallery section -->
  <div class="gallery-container">
    <div markdown="1"># Hello there **how are you**</div>

    <h1>{{ serverData.PROJECTS[curProject].projectHeader }}</h1>
    <p>{{ serverData.PROJECTS[curProject].projectDescription }}</p>

    <div *ngFor="let pSection of serverData.PROJECTS[curProject].SECTIONS">
      <!-- This section is for  -->
      <div *ngIf="pSection.sectionType == 'MG'">
        <div class="project-section-multiple-photos-layed">
          <!-- Section header will always be there -->
          <h2>{{ pSection.sectionHeader }}</h2>

          <div class="section-contents">
            <!-- Section Description may or may not be there -->
            <div *ngIf="pSection.sectionDescription.length > 1">
              <div class="description-section">
                <p>{{ pSection.sectionDescription }}</p>
              </div>
            </div>

            <!-- Showing the images in grid format -->
            <div *ngFor="let imageItem of pSection.IMAGES">
              <div class="image-section">
                <img
                  src="{{ imageItem.imgLink }}"
                  (click)="
                    openImage(imageItem.imgLink, imageItem.imgDescription)
                  "
                  alt=""
                />
                <small>{{ imageItem.imgDescription }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="pSection.sectionType == 'SD'">
        <div class="project-section-single-photo">
          <h2>{{ pSection.sectionHeader }}</h2>

          <div class="description-divide">
            <div class="img-overlay">
              <!-- Showing the first image Since SD type section will only have one image -->
              <img
                src="{{ pSection.IMAGES[0].imgLink }}"
                (click)="
                  openImage(
                    pSection.IMAGES[0].imgLink,
                    pSection.IMAGES[0].imgDescription
                  )
                "
                alt=""
              />
              <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum consequuntur saepe odit cupiditate, eveniet dicta quos ab facilis aliquid numquam?</p> -->
              <div class="img-description-short">
                <small>{{ pSection.IMAGES[0].imgDescription }}</small>
              </div>
            </div>

            <div *ngIf="pSection.sectionDescription.length > 1">
              <div class="img-description-long">
                <p>{{ pSection.sectionDescription }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
