$primary-color: #f8efe6;
$primary-dark: #333;
$secondary-color: #fec5bb;
$secondary-blue: #2a9d8f;
$secondary-red: #e63946;


.goToMainPage{
    letter-spacing: 2px;
    padding: 1rem;
    font-weight: normal;
    font-size: 2rem;
    background: $secondary-color;

    a{
    cursor: pointer;
        background: transparent;
        &:hover{
            opacity: 0.8;
        }
    }
}

main{

    position: relative;
    

    .confirm-delete{
        visibility: collapse;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: $primary-dark, $alpha: 0.7);
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .contents{
            padding: 2rem;
            p{
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 5px;
                margin-bottom: 1rem;
            }

            .button-group{

                display: flex;
                flex-direction: row;
                justify-content: space-between;


                button{
                    padding: 1rem;
                    border: none;
                    font-size: 1rem;
                    letter-spacing: 5px;
                    cursor: pointer;
                    color: $primary-color;
    
                    &:hover{
                        opacity: 0.9;
                    }
                }
    
                .cancelBtn{
                    background-color: $secondary-blue;
                }
    
                .deleteBtn{
                    background-color: $secondary-red;
                }
            }



        }

        &.active{
            visibility: visible;
        }
    }


    .update-section{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h3{
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: normal;
            font-size: 2rem;
        }


        .form-contents{
            width: 80%;
            max-width: 30rem;
        
            form{
                display: grid;
                grid-template-columns: 1fr;
        
                label{
                    font-size: 1.5rem;
                    text-transform: uppercase;
                }
        
                input{
                    &:focus{
                        outline: none;
                    }
        
                    border: 1px rgba($color: $primary-dark, $alpha: 0.8) solid;
                    border-radius: 5px;
                    padding: 1rem;
                    font-size: 1rem;
                    margin-bottom: 1rem;
        
                    
                    &:disabled{
                        cursor: not-allowed;
                    }
                }
        
        
                textarea{
                    &:focus{
                        outline: none;
                    }
        
                    border: 1px rgba($color: $primary-dark, $alpha: 0.8) solid;
                    border-radius: 5px;
                    padding: 1rem;
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }

                .manage-btns{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;


                    button{
                        padding: 1rem;
                        background-color: $primary-dark;
                        color: $primary-color;
                        text-transform: uppercase;
                        letter-spacing: 5px;
                        border: none;
                        cursor: pointer;
            
                        &:hover{
                            opacity: 0.9;
                        }
                        
                        &:disabled{
                            cursor: not-allowed;
                        }
            
                    }

                    .deleteBtn{
                        background-color: $secondary-red;
                    }
                }
        
            }
            margin: 1rem;
        }
    
    }

}
