<div class="goToMainPage">
    <a (click)="goBackToProjects()">Go Back To Home</a>
</div>

<main>

    <div class="confirm-delete" #confirmModal>
        <div class="contents">
            <p>Are you sure you want to delete this section?</p>

            <div class="button-group">
                <button (click)="cancelDelete()" class="cancelBtn">Cancel</button>
                <button (click)="confirmDelete()" class="deleteBtn">Confirm Delete</button>
            </div>
        </div>
    </div>


    <div class="update-section">
        
        <h3>Update Your Section Here</h3>
        <div class="form-contents">
    
            <form [formGroup]="sectionCreateForm">
                <label for="sectionName">Section Heading</label>
                <small><em>Section heading is always required</em></small>
                <input type="text" id="sectionName" formControlName="sectionName">
    
                <label for="sectionDescription">What is the Section about?</label>
                <textarea type="text" id="sectionDescription" rows="6" formControlName="sectionDescription"></textarea>

                <hr>

                <label for="">Editable? <input type="checkbox" (click)="changeEditable()" [checked]="editable"> </label>
                <div class="manage-btns">
                    <button (click)="updateSection()" [disabled]="!editable">Update Section</button>
                    <button type="button" (click)="deleteSection()" class="deleteBtn">Delete Section</button>
                </div>
            </form>
        </div>
    </div>

</main>