$primary-color: #f8efe6;
$primary-dark: #333;
$secondary-color: #fec5bb;
$secondary-blue: #2a9d8f;
$secondary-red: #e63946;


a{
    cursor: pointer;
}

.goToMainPage{
    letter-spacing: 2px;
    padding: 1rem;
    font-weight: normal;
    font-size: 2rem;
    background: $secondary-color;

    a{
    cursor: pointer;
        background: transparent;
        &:hover{
            opacity: 0.8;
        }
    }
}

main{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    margin: 1rem;
    position: relative;


    .projectDeleteModal{
        visibility: collapse;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($color: $primary-dark, $alpha: 0.7);
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .contents{
            padding: 2rem;
            p{
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 5px;
                margin-bottom: 1rem;
            }

            .button-group{

                display: flex;
                flex-direction: row;
                justify-content: space-between;


                button{
                    padding: 1rem;
                    border: none;
                    font-size: 1rem;
                    letter-spacing: 5px;
                    cursor: pointer;
                    color: $primary-color;
    
                    &:hover{
                        opacity: 0.9;
                    }
                }
    
                .cancelBtn{
                    background-color: $secondary-blue;
                }
    
                .deleteBtn{
                    background-color: $secondary-red;
                }
            }
        }

        &.active{
            visibility: visible;
        }
    }

    .back-to-projects{
        a{
            text-transform: capitalize;
            font-size: 1.5rem;
            text-decoration: underline;
            color: $secondary-blue;
        }
    }


    .main-divide{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2rem;

        .media-management{

            h3{
                letter-spacing: 5px;
                font-size: 2rem;
                font-weight: normal;
                text-transform: uppercase;
            }

            form{

                margin: 1rem;
                display: grid;
                grid-template-columns: 1fr;


                .filePicker{
                    margin-bottom: 1rem;
                }


                input{
                    padding: 0.5rem;
                    font-size: 1rem;
                    border: 1px $primary-dark solid;

                    &[type="file"]{
                        display: none;
                    }
                    margin-bottom: 1rem;
                }

                select{
                    padding: 0.5rem;
                    font-size: 1rem;
                }

                .filePicker{
                    border: 1px $primary-dark solid;
                    padding: 0.5rem;
                    font-size: 1rem;
                    background-color: $primary-dark;
                    color: $primary-color;
                    cursor: pointer;

                    &:hover{
                        opacity: 0.9;
                    }
                }

                button{
                    background-color: $primary-dark;
                    color: $primary-color;
                    padding: 0.5rem;
                    border: none;
                    cursor: pointer;
                    text-transform: uppercase;
                    letter-spacing: 5px;

                    &:hover{
                        opacity: 0.9;
                    }

                    &:disabled{
                        cursor: not-allowed;
                    }
                }

            }

        }

        .create-section{

            
            h3{
                letter-spacing: 5px;
                font-size: 2rem;
                font-weight: normal;
                text-transform: uppercase;
            }

            .form-contents{
                width: 80%;
                max-width: 30rem;
        
                form{
                    display: grid;
                    grid-template-columns: 1fr;
        
                    label{
                        font-size: 1.5rem;
                        text-transform: uppercase;
                    }
        
                    input{
                        &:focus{
                            outline: none;
                        }
        
                        border: 1px rgba($color: $primary-dark, $alpha: 0.8) solid;
                        border-radius: 5px;
                        padding: 1rem;
                        font-size: 1rem;
                        margin-bottom: 1rem;

                        
                        &:disabled{
                            cursor: not-allowed;
                        }
                    }
        
        
                    textarea{
                        &:focus{
                            outline: none;
                        }
        
                        border: 1px rgba($color: $primary-dark, $alpha: 0.8) solid;
                        border-radius: 5px;
                        padding: 1rem;
                        font-size: 1rem;
                        margin-bottom: 1rem;
                    }
        
                    button{
                        padding: 1rem;
                        background-color: $primary-dark;
                        color: $primary-color;
                        text-transform: uppercase;
                        letter-spacing: 5px;
                        border: none;
                        cursor: pointer;
        
                        &:hover{
                            opacity: 0.9;
                        }
                        
                        &:disabled{
                            cursor: not-allowed;
                        }

                    }
                }
                margin: 1rem;
            }
        }
    }

    h3{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 2rem;
        font-weight: normal;
    }

    .management-divide{
        display: grid;
        grid-template-columns: 1fr;

        .grid-divide{
            display: grid;
            grid-template-columns: 1fr 3fr;
            padding: 2rem;

            .section-page{
                h2{
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    font-weight: normal;
                }
            }
    
    
            .section-media-page{
                ul{
                    list-style: none;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
    
                    li{
                        .media-box{
                            border: 1px $primary-dark solid;
                            padding: 1rem;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            margin: 1rem;
    
                            .description{
                                display: grid;
                                grid-template-columns: 1fr;

                                hr{
                                    margin-top: 0.5rem;
                                    margin-bottom: 0.5rem;
                                }

                                i{
                                    font-size: 1rem;


                                    &:hover{
                                    cursor: pointer;
                                    }

                                    p{
                                        font-weight: normal;
                                    }
                                }
                            }
    
                            img{
                                
                                width: 100%;
                                height: 100%;
                                max-width: 5rem;
                                max-height: 5rem;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }

    }

    .project-deletion{

        width: 90%;
        p{
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        button{
            border: none;
            padding: 1rem;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 5px;
            cursor: pointer;
            background-color: $secondary-red;
            color: $primary-color;

            &:hover{
                opacity: 0.9;
            }
        }
    }



}