/* You can add global styles to this file, and also import other style files */
$primary-color: #F8EFE6;

* {
    padding: 0rem;
    margin: 0rem;
    background-color: $primary-color;
    font-family: 'Dancing Script', cursive;
}