
<main>
    <!-- <h1>Tanaya</h1> -->
  
    <div>
      <img (click)="nameClick()" [ngClass]="{'active':clicked}" src="assets/Images/name_small.png" alt="" #myName>
  
      <div [ngClass]="clicked ? 'tabs tabs-active' : 'tabs'">
      <!-- <div Class="tabs tabs-active"> -->
        <ul>
          <!-- <li><h3 class="special">Tanaya</h3></li> -->
          <li><img (click)="nameClick()" [ngClass]="{'special':clicked}" src="assets/Images/name_small.png" alt="" #myName></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/gallery">Gallery</a></li>
          <li><a href="">Art Education</a></li>
          <li><a routerLink="/project-rants">Projects/Rants</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </main>